:root{
    --prime-colour: rgb(4, 130, 144);
    --secon-colour: rgb(49, 188, 193);
    --third-colour: blue;
    --light-colour: antiquewhite;;
    --darks-colour: rgb(46, 43, 43);
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h2,h3,h4{
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}
body{
    display: grid;
    grid-template-areas: 'header'
                         'main'
                         'footer';
    grid-template-rows: min-content 1fr min-content;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--darks-colour);
    background-color: var(--light-colour);
    min-height: 100vh;

}
header{
    grid-area: header;
    align-items: center;

    background-color: var(--prime-colour);
}
.upper-header{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.upper-header > a {
    display: contents;
}
.site-logo{
    max-width: 3rem;
}
nav{
    display: flex;
    align-items: center;
    padding: 0.6rem 0 0.6rem 0;
    background-color: var(--secon-colour);

}
nav > ul{
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
main{
    grid-area: main;
    padding: 1.5rem;
}

.movies-view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.movie-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid var(--prime-colour);
    border-radius: 3%;
    background-color: var(--secon-colour);
    padding: 0.6rem;
    gap: 0.3rem;
}
.movie-summary > .img-container{
    max-width: 18vw;
    max-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-container > img {
    transform: scale(50%);
}

.movie-details{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}
.movie-details-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie-details-left > img{
    max-width: 18rem;
}

.movie-details-right{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-width: 45ch;
}

footer{
    grid-area: footer;
    background-color: var(--secon-colour);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.6rem 1.5rem;
}
