<h1>404 - Not Found</h1>
<br>
<% if(typeof(message) == "unknown" || message.length < 1){
    message = "Oeps! Something went wrong";
}%>
<h2><%=message%></h2>
<br>
<p>try going to:
<ul>
<li><a href="http://localhost:3000">Home</a></li>
</ul>
</p>